body {
	margin: 30px 0px 0px 150px ;
	padding: 0;
	font-family: Helvetica,Arial,Verdana;
	background-color: #ccccff;
	height: 100%;
	color: #000000;
	width: 400px;
	font-size: 12px;
}
a,a:ACTIVE,a:AFTER,a:FOCUS,a:VISITED {
	color: #555555;
}
a:HOVER {
	color: #999999;
}
